@import url('https://fonts.googleapis.com/css?family=Raleway');

div {
  font-family: 'Raleway';
}

h1, h4 {
  text-align: center;
  padding-top: 2%;
}

.main {
  width: 100%;
}

.main-anchor {
  font-family: 'Raleway';
  text-decoration: none;
  margin-right: 20px;
  color: black;
  font-size: 16px;
  padding: 20px;
}

.main-anchor:hover {
  color: #5cb85c;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
}

.icon {
  position: relative;
  right: 0;
}

.inputForm {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.radio-btn {
  margin-left: 10px;
}

.submit-btn {
  margin-right: 50%;
  margin-left: 50%;
}

.poli-tabs a {
  color: #5cb85c;
}
.poli-tabs a:hover {
  color: grey;
}

.personalBreakdown {
  margin-left: 5%;
  margin-right: 5%;
}

.chart {
  margin-bottom: 10%
}

.personalHeader {
  margin-bottom: 3%
}

.poli-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.dropzone {
  border:3px dotted grey;
  background-color: lightgrey;
  margin-top: 5%;
  padding: 100px;
  padding-left: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

.btn-link {
  color: black !important;
}

#provincialchart {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#federalchart {
  margin-top: 5%;
}

#federalinfo {
  background-color: pink;
  border-radius: 5px;

}

.personstransfer {
  background-color: #ff6384;
}

.personsgov {
  background-color: darkturquoise;
}

.personsdpe {
  background-color: #ffce56;
}
