h1, h4 {
  text-align: center;
}

.main {
  width: 100%;
}

.main-anchor {
  font-family: Raleway;
  text-decoration: none;
  margin-right: 20px;
  color: black;
  font-size: 16px;
  padding: 20px;
}

.main-anchor:hover {
  color: #5cb85c;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
}

.icon {
  position: relative;
  right: 0;
}
