h1, h4 {
  text-align: center;
}

.main {
  width: 70%;
}

.main-anchor {
  text-decoration: none;
  margin-right: 20px;
}

nav {
  display: block;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
